In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('combined_data.csv')

In [3]:
df

,id,tripId,latitude,longitude,bearing,speed,timestamp,vehicleId,header_timestamp
0,vehicle1,trip1,37.791897,-122.39946,32.3,6.7,1723075297,vehicle1,1723075297
1,vehicle1,trip1,37.791897,-122.39946,32.3,6.7,1723075358,vehicle1,1723075358
2,vehicle1,trip1,37.791897,-122.39946,32.3,6.7,1723075419,vehicle1,1723075419
3,vehicle1,trip1,37.791897,-122.39946,32.3,6.7,1723075481,vehicle1,1723075481
4,vehicle1,trip1,37.791897,-122.39946,32.3,6.7,1723075542,vehicle1,1723075542
5,vehicle1,trip1,37.791897,-122.39946,32.3,6.7,1723075603,vehicle1,1723075603
6,vehicle1,trip1,37.791897,-122.39946,32.3,6.7,1723075663,vehicle1,1723075663
7,vehicle1,trip1,37.791897,-122.39946,32.3,6.7,1723075724,vehicle1,1723075724
8,vehicle1,trip1,37.791897,-122.39946,32.3,6.7,1723075785,vehicle1,1723075785
9,vehicle1,trip1,37.791897,-122.39946,32.3,6.7,1723075846,vehicle1,1723075846
10,vehicle1,trip1,37.791897,-122.39946,32.3,6.7,1723075907,vehicle1,1723075907
11,vehicle1,trip1,37.791897,-122.39946,32.3,6.7,1723075968,vehicle1,1723075968
12,vehicle1,trip1,37.791897,-122.39946,32.3,6.7,1723076029,vehicle1,1723076029
13,vehicle1,trip1,37.791897,-122.39946,32.3,6.7,1723076091,vehicle1,1723076091
14,vehicle1,trip1,37.791897,-122.39946,32.3,6.7,1723076152,vehicle1,1723076152
15,vehicle1,trip1,37.791897,-122.39946,32.3,6.7,1723076213,vehicle1,1723076213
16,vehicle1,trip1,37.791897,-122.39946,32.3,6.7,1723076274,vehicle1,1723076274
17,vehicle1,trip1,37.791897,-122.39946,32.3,6.7,1723076335,vehicle1,1723076335
18,vehicle1,trip1,37.791897,-122.39946,32.3,6.7,1723076396,vehicle1,1723076396
19,vehicle1,trip1,37.791897,-122.39946,32.3,6.7,1723076457,vehicle1,1723076457
20,vehicle1,trip1,37.791897,-122.39946,32.3,6.7,1723076518,vehicle1,1723076518
21,vehicle1,trip1,37.791897,-122.39946,32.3,6.7,1723076579,vehicle1,1723076579
22,vehicle1,trip1,37.791897,-122.39946,32.3,6.7,1723076639,vehicle1,1723076639
23,vehicle1,trip1,37.791897,-122.39946,32.3,6.7,1723076701,vehicle1,1723076701
24,vehicle1,trip1,37.791897,-122.39946,32.3,6.7,1723076761,vehicle1,1723076761