In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('flattened_data.csv')

C:\Users\maxma\AppData\Local\Temp\ipykernel_3924\1381573417.py:1: DtypeWarning: Columns (12,13,15,16,22,24,25,26,27,29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('flattened_data.csv')

In [5]:
df.head(20)

,id,tripUpdate.trip.tripId,tripUpdate.trip.startTime,tripUpdate.trip.startDate,tripUpdate.trip.routeId,tripUpdate.trip.directionId,tripUpdate.stopTimeUpdate,tripUpdate.vehicle.id,tripUpdate.timestamp,tripUpdate.vehicle.label,...,vehicle.currentStopSequence,vehicle.currentStatus,vehicle.timestamp,vehicle.stopId,vehicle.vehicle.id,vehicle.vehicle.label,vehicle.occupancyStatus,vehicle.occupancyPercentage,vehicle.multiCarriageDetails,vehicle.position.speed
0,63100735,63100735,14:30:00,20240815.0,100,0.0,"[{'stopSequence': 1, 'departure': {'time': '17...",y1404,1.723746e+09,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,63473633,63473633,15:10:00,20240815.0,441442,0.0,"[{'stopSequence': 1, 'departure': {'time': '17...",y3356,1.723746e+09,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,63071440,63071440,14:38:00,20240815.0,17,1.0,"[{'stopSequence': 1, 'departure': {'time': '17...",y1830,1.723746e+09,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,63480392,63480392,14:20:00,20240815.0,28,0.0,"[{'stopSequence': 1, 'departure': {'time': '17...",y1250,1.723746e+09,1250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,63288413,63288413,14:44:00,20240815.0,Red,0.0,"[{'stopSequence': 1, 'departure': {'time': '17...",R-547DFF8B,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,63361071,63361071,14:57:00,20240815.0,35,0.0,"[{'stopSequence': 1, 'departure': {'time': '17...",y1685,1.723746e+09,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,63072810,63072810,14:25:00,20240815.0,504,1.0,"[{'stopSequence': 1, 'departure': {'time': '17...",y1837,1.723746e+09,1837,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,62921864,62921864,13:53:00,20240815.0,Green-C,1.0,"[{'stopSequence': 570, 'arrival': {'time': '17...",G-10127,1.723746e+09,3646-3834,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,63071058,63071058,14:45:00,20240815.0,9,1.0,"[{'stopSequence': 1, 'departure': {'time': '17...",y1921,1.723746e+09,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,63157252,63157252,14:41:00,20240815.0,73,0.0,"[{'stopSequence': 1, 'departure': {'time': '17...",y2101,1.723746e+09,2101,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,63361953,63361953,15:14:00,20240815.0,41,0.0,"[{'stopSequence': 1, 'departure': {'time': '17...",y1703,1.723746e+09,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,CR-683294-521,CR-683294-521,17:45:00,20240815.0,CR-Worcester,0.0,"[{'stopSequence': 80, 'arrival': {'time': '172...",1834,1.723746e+09,1834,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,63481170,63481170,14:23:00,20240815.0,741,0.0,"[{'stopSequence': 4, 'arrival': {'time': '1723...",y1334,1.723746e+09,1334,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,63481003,63481003,14:08:00,20240815.0,751,0.0,"[{'stopSequence': 9, 'arrival': {'time': '1723...",y1279,1.723746e+09,1279,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,63072539,63072539,14:15:00,20240815.0,60,0.0,"[{'stopSequence': 6, 'arrival': {'time': '1723...",y1880,1.723746e+09,1880,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,63072553,63072553,15:14:00,20240815.0,7,0.0,"[{'stopSequence': 1, 'departure': {'time': '17...",y1824,1.723746e+09,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,63076042,63076042,14:35:00,20240815.0,44,0.0,"[{'stopSequence': 1, 'departure': {'time': '17...",y3244,1.723746e+09,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,63257321,63257321,13:51:00,20240815.0,111,1.0,"[{'stopSequence': 22, 'arrival': {'time': '172...",y2000,1.723746e+09,2000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,63070907,63070907,15:10:00,20240815.0,9,0.0,"[{'stopSequence': 1, 'departure': {'time': '17...",y1781,1.723746e+09,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,62860943,62860943,14:18:00,20240815.0,Mattapan,1.0,"[{'stopSequence': 5, 'arrival': {'time': '1723...",G-10265,1.723746e+09,3265,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN